
function formatTime(date, dateType) {
  var timeArr = date.split(' ')[0].split('-');
  console.log(timeArr)
  timeArr = timeArr.map(function(v){
    return Number(v)
  })
  var res = timeArr[1] + '月' + timeArr[2] + '日';
  return res;
}

function allImg(src) {
  return "https://gengxin.odao.com/update/h5/travel/" + src
}

module.exports = {
  formatTime: formatTime,
  allImg: allImg
}
